<main>
  <p-tabView (onChange)="atualizarGrafico()">
    <p-tabPanel header="Tarefas">

      <p-card
        header="Tarefas"
        subheader="Suas tarefas">

        <form #tarefaForm="ngForm" (ngSubmit)="adicionar(tarefaForm)">

          <span class="p-float-label">
            <input type="text" id="float-input" pInputText name="tarefa" ngModel>
            <label for="float-input">Qual a próxima tarefa?</label>
          </span>

          <div class="adicionar-botao">
            <p-button label="Adicionar" type="submit" icon="pi pi-check"></p-button>
          </div>

        </form>

        <div class="tarefa" *ngFor="let tarefa of tarefas">
          <p-card>
            <div class="conteudo-tarefa">
              <p>{{tarefa.descricao}}</p>
              <p-selectButton
                [options]="opcoes"
                optionLabel="rotulo"
                optionValue="valor"
                [(ngModel)]="tarefa.finalizada"
              >

              </p-selectButton>
            </div>
          </p-card>
        </div>

      </p-card>

    </p-tabPanel>

    <p-tabPanel header="Gráfico">

      <p-chart type="doughnut" [data]="dados"></p-chart>

    </p-tabPanel>
  </p-tabView>
</main>

