main{
  width: 40%;
  margin: auto;
}

span, input {
  width: 100%;
}

.adicionar-botao{
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
}

.tarefa{
  margin-bottom: 4px;
}

.conteudo-tarefa{
  font-size: 22px;
  text-align: center;
}
